# grafana:
#   image:
#     repository: grafana/grafana
#     tag: 10.2.3
#   replicas: 1

#   grafana.ini:
#     server:
#       root_url: "%(protocol)s://%(domain)s/grafana"
#       serve_from_sub_path: true

# prometheus:
#   prometheusSpec:
#     storageSpec: {}

# alertmanager:
#   alertmanagerSpec:
#     storage: {}

prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 512Mi
        cpu: 500m
      limits:
        memory: 1Gi
        cpu: 1

grafana:
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 512Mi
      cpu: 500m

kube-state-metrics:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
